<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">고객 상담 확인서</h6>
                </div>

                <div class="card-body">
                    <form action="/tm/registerSales" method="post">

                        <h3 class="mt-5">매출 정보</h3>
                        <hr>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="year_2018">2018년</label>
                                <input class="form-control" id="year_2018" name="year" valu>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="year_2019">2019년</label>
                                <input class="form-control" id="year_2019" name="year">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="">2020년</label>
                                <input class="form-control" id="" name="">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">2021년</label>
                                <input class="form-control" id="" name="">
                            </div>
                        </div>
                        <button type="submit" class="mt-4 btn btn-primary btn-block">저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>