<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">회사 정보</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink2">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" th:href="@{/company/update/{id}(id=${company.id})}">수정</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" th:href="|javascript:deleteCompany('${company.id}')|">삭제</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>회사번호</th>
                            <td th:text="${company.id}"/>
                        </tr>
                        <tr>
                            <th>사업자 번호</th>
                            <td th:text="${company.businessNo}"/>
                        </tr>
                        <tr>
                            <th>회사명</th>
                            <td th:text="${company.name}"/>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td th:text="${company.address}"/>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td th:text="${company.tel}"/>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- 첫 번째 카드 종료 -->

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">소속 직원 정보</h6>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>회원번호</th>
                                <th>이름</th>
                                <th>닉네임</th>
                                <th>휴대폰 번호</th>
                                <th>이메일</th>
                                <th>활동 지역</th>
                                <th>대표자</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="member : ${members}">
                                <td class="text-center" th:text="${member.id}"></td>
                                <td class="text-center" th:text="${member.name}"></td>
                                <td class="text-center" th:text="${member.nickname}"></td>
                                <td class="text-center" th:text="${member.mobile}"/>
                                <td class="text-center" th:text="${member.email}"/>
                                <td class="text-center" th:text="${member.workingArea}"/>
                                <!-- 3항 연산자 -->
                                <td class="text-center" th:text="${member.ceoYn} == 'Y' ? '대표자' : ''"/>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            /** 삭제 확인 이벤트 */
            const deleteCompany = function (id) {
                if (confirm('정말 삭제하시겠습니까?'))
                    window.location.href = '/company/delete/' + id;
            };
        </script>
    </div>
</html>