<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">회사 목록</h1>
            <p class="mb-4">가입된 회원들의 소속 회사 목록입니다.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>회사명</th>
                                    <th>대표자</th>
                                    <th>주소</th>
                                    <th>전화번호</th>
                                    <th>소속 회원 수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="company : ${companies}">
                                    <td th:text="${company.id}"/>
                                    <td>
                                        <a th:href="@{/company/detail/{companySeq}(companySeq=${company.id})}" th:text="${company.name}"/>
                                    </td>
                                    <td/>
                                    <td th:text="${company.address}"/>
                                    <td th:text="${company.tel}"/>
                                    <!--<td th:text="${company.memberCount}"/>-->
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>