<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">회사 정보 수정</h6>
                </div>
                <div class="card-body">
                    <form action="/company/update" method="post" th:object="${companyUpdateRequestDto}">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group">
                            <label th:for="businessNo">사업자 번호</label>
                            <input type="text" class="form-control" th:field="*{businessNo}" readonly>
                        </div>
                        <div class="form-group">
                            <label th:for="name">회사명</label>
                            <input type="text" class="form-control" th:field="*{name}" readonly>
                        </div>
                        <div class="form-group">
                            <label th:for="address">주소<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" th:field="*{address}" maxlength="200" required>
                            <small id="addressHelp" class="text-danger form-text text-muted" th:errors="*{address}"/>
                        </div>
                        <div class="form-group">
                            <label th:for="tel">전화번호
                                <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" th:field="*{tel}"
                                   placeholder="지역번호 포함 하이픈(-) 없이 입력" maxlength="15" required>
                            <small id="telHelp" class="text-danger form-text text-muted" th:errors="*{tel}"/>
                        </div>

                        <button type="submit" class="mt-5 mb-2 btn btn-primary btn-block">저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>