<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <!-- 좌측열 카드 목록 -->
                <div class="col-lg-6">
                    <!-- 좌측열 첫 번째 카드 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">고객(업체) 정보</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink2">
                                    <div class="dropdown-header">업체 정보 관리:</div>
                                    <a class="dropdown-item" th:href="@{/client/update/{seq}(seq=${client.clientSeq})}">수정</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" th:href="|javascript:deleteClient('${client.clientSeq}')|">삭제</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>회사명</th>
                                    <td th:text="${client.companyName}">쿠팡</td>
                                </tr>
                                <tr>
                                    <th>업체 구분</th>
                                    <td th:text="${ (client.type == 'P') ? '개인' : (client.type == 'C' ? '법인' : '기타')}">법인</td>
                                </tr>
                                <tr>
                                    <th>설립일</th>
                                    <td th:text="${client.establishDate}">1990.01.14</td>
                                </tr>
                                <tr>
                                    <th>업종</th>
                                    <td th:text="${client.sector}">제조업</td>
                                </tr>
                                <tr>
                                    <th>주요 품목</th>
                                    <td th:text="${client.keyItem}">로켓</td>
                                </tr>
                                <tr>
                                    <th>대표자</th>
                                    <td th:text="${client.owner}"/>
                                </tr>
                                <tr>
                                    <th>전화번호</th>
                                    <td th:text="${client.contact}">02)1234-1234</td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td th:text="${client.address}">서울시 강남구 서초대로 123, 1202호</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 좌측 첫 번째 카드 종료 -->

                    <!-- 좌측 두 번째 카드 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">매출 정보</h6>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>연도</th>
                                    <th>금액</th>
                                </thead>
                                <tbody>
                                    <tr th:if="${salesList.size()} == 0">
                                        <td class="text-center" colspan="2">내용이 없습니다</td>
                                    </tr>
                                    <tr th:each="sales : ${salesList}">
                                        <th class="text-center" th:text="${sales.salesYear}"/>
                                        <td class="text-center" th:text="${sales.salesAmount}"/>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 좌측 두 번째 카드 종료 -->
                </div>
                <!-- 좌측열 카드 목록 종료 -->

                <!-- 우측열 카드 목록 -->
                <div class="col-lg-6">

                    <!-- 우측 첫 번째 카드 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">상담 정보</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">상담내역 관리:</div>
                                    <a class="dropdown-item" th:href="@{/tm/update/{seq}(seq=${tm.tmSeq})}">수정</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" th:href="|javascript:deleteTm('${tm.tmSeq}')|">삭제</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>상담일시</th>
                                    <td th:text="${tm.callDate}"/>
                                </tr>
                                <tr>
                                    <th>상담사</th>
                                    <td th:text="${tm.caller.name}"/>
                                </tr>
                                <tr>
                                    <th>수신인</th>
                                    <td th:text="${tm.recipient}"/>
                                </tr>
                                <tr>
                                    <th>직원 수</th>
                                    <td th:text="${tm.headcount}"/>
                                </tr>
                                <tr>
                                    <th>대출 희망액</th>
                                    <td>
                                        <span th:if="${tm.hopeAmount}">
                                            <span th:text="${#numbers.formatInteger(tm.hopeAmount, 3, 'COMMA')}">3,000</span>원
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>신용 상태</th>
                                    <td th:text="${tm.creditStatus}"/>
                                </tr>
                                <tr>
                                    <th>체납 여부</th>
                                    <td>
                                        <span th:if="${tm.arrearsYn}" th:text="${tm.arrearsYn} == 'Y' ? '체납' : '완납'"/>
                                    </td>
                                </tr>
                                <tr th:if="${tm.arrearsYn} == 'Y'">
                                    <th>체납 상세 내역</th>
                                    <td>
                                        <p th:text="${tm.arrearsDetail}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>희망 통화 시간</th>
                                    <td th:text="${tm.hopeCallTime}"/>
                                </tr>
                                <tr>
                                    <th>특이사항</th>
                                    <td>
                                        <p th:text="${tm.memo}"/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- 우측 첫번째 카드 종료 -->

                    <!-- 우측 두 번째 카드 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">대출 정보</h6>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>해당 기관명</th>
                                    <th>용도</th>
                                    <th>금액</th>
                                    <th>메모 및 특이사항</th>
                                </thead>
                                <tbody>
                                    <tr th:if="${loanList.size()} == 0">
                                        <td class="text-center" colspan="4">내용이 없습니다</td>
                                    </tr>
                                    <tr th:each="loan : ${loanList}">
                                        <td class="text-center" th:text="${loan.creditor}"/>
                                        <td class="text-center" th:text="${loan.purpose}"/>
                                        <td class="text-center" th:text="${loan.amount}"/>
                                        <td class="text-center" th:text="${loan.memo}"/>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //우측 두 번째 카드 -->

                </div>
                <!-- 우측열 카드 목록 종료 -->
            </div>

        </div>
        <script>
            /** 삭제 확인 이벤트 */
            const deleteTm = function (seq) {
                if (confirm('정말 삭제하시겠습니까?'))
                    window.location.href = '/tm/delete/' + seq;
            };

            /** 삭제 확인 이벤트 */
            const deleteClient = function (seq) {
                if (confirm('고객을 삭제하면 관련 상담 건이 전부 삭제됩니다.\n정말 삭제하시겠습니까?'))
                    window.location.href = '/client/delete/' + seq;
            };
        </script>
    </div>
</html>