<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">TM 상담 내역</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <colgroup>
                                <col width="80px"/>
                                <col width="81px"/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <!--<th class="text-center">NO</th>-->
                                    <th class="text-center">TM번호</th>
                                    <th class="text-center">고객번호</th>
                                    <th>업체 이름</th>
                                    <th>대표자</th>
                                    <th>상담일시</th>
                                    <th>상담사</th>
                                    <th>희망 통화 시간</th>
                                    <th>진행 상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="tm, idx : ${tmList}">
                                    <!--<td class="text-center" th:text="${idx.count}"/>-->
                                    <td class="text-center" th:text="${tm.tmSeq}"/>
                                    <td class="text-center" th:text="${tm.clientSeq}"/>
                                    <td>
                                        <a th:href="@{detail/{tmSeq}(tmSeq=${tm.tmSeq})}" th:text="${tm.client.companyName}" />
                                    </td>
                                    <td th:text="${tm.client.owner}"/>
                                    <td th:text="${tm.callDate}"/>
                                    <td th:text="${tm.caller.name}"/>
                                    <td th:text="${tm.hopeCallTime}"/>
                                    <td>진행중</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- TODO : 상수 값으로 관리자 확인해야 함 -->
            <div th:if="${session.user.role.key == 'ROLE_ADMIN'}" class="float-right">
                <a href="/tm/register" class="btn btn-primary">
                    <span class="text">TM 등록</span>
                </a>
            </div>
        </div>
    </div>
</html>