<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">가입된 직원 목록</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <colgroup>
                                <col width="81px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>회원번호</th>
                                    <th>소속 회사</th>
                                    <th>이름</th>
                                    <th>닉네임</th>
                                    <th>휴대폰 번호</th>
                                    <th>이메일</th>
                                    <th>활동 지역</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="member : ${members}">
                                    <td class="text-center" th:text="${member.id}"/>
                                    <td th:text="${member.company.name}"/>
                                    <td>
                                        <a th:text="${member.name}" th:href="@{detail/{seq}(seq=${member.id})}"/>
                                    </td>
                                    <td th:text="${member.nickname}"></td>
                                    <td th:text="${member.mobile}"></td>
                                    <td th:text="${member.email}"></td>
                                    <td th:text="${member.workingArea}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- TODO : 상수 값으로 관리자 확인해야 함 -->
            <div th:if="${session.user.role.key == 'ROLE_ADMIN'}" class="float-right">
                <a href="/member/register" class="btn btn-primary">
                    <span class="text">회원 등록</span>
                </a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</html>