<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-1 text-gray-800 mb-4">My Page</h1>
            <!-- 부연 설명이 필요할 경우 사용하기 -->
            <!--
            <p class="mb-4">Bootstrap's default utility classes can be found on the official <a
                    href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities
                below were created to extend this theme past the default utility classes built into Bootstrap's
                framework.</p>
            -->

            <div class="row">
                

            </div>

            <div class="text-center">
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <h6 class="m-0 font-weight-bold text-primary">
                            Profile
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col text-center">
                                <img src="./img/profile_01.jpg" alt="프로필 사진">
                            </div>
                            <div class="col">
                                <table class="table">
                                    <tr>
                                        <th>이름</th>
                                        <td>이티모</td>
                                    </tr>
                                    <tr>
                                        <th>소속</th>
                                        <td>에스알포스트</td>
                                    </tr>
                                    <tr>
                                        <th>직업</th>
                                        <td>개발자</td>
                                    </tr>
                                    <tr>
                                        <th>지역</th>
                                        <td>인천 남동구</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card shadow mb-2">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        등급
                                    </h6>
                                </div>
                                <div class="card-body">
                                    1등급
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card shadow mb-2">
                                <div class="card-header">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        레벨
                                    </h6>
                                </div>
                                <div class="card-body">
                                    LV. 827
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="card shadow mb-2">
                        <div class="card-header">
                            <h6 class="m-0 font-weight-bold text-primary">
                                행동력
                            </h6>
                        </div>
                        <div class="card-body">
                            ???
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
</html>