<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">내 프로필</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink1">
                            <div class="dropdown-header">나의 정보 관리</div>
                            <a class="dropdown-item"
                               th:href="@{/member/update/{id}(id=${member.id})}">정보 수정</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger"
                               th:href="|javascript:deleteMember()|">회원 탈퇴</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-center">
                            <img class="rounded-circle" th:src="${session.user.picture}">
                        </div>
                        <div class="col">
                            <table class="table">
                                <tr>
                                    <th>이름</th>
                                    <td th:text="${member.name}"/>
                                </tr>
                                <tr>
                                    <th>닉네임</th>
                                    <td th:text="${member.nickname}"/>
                                </tr>
                                <tr>
                                    <th>생년월일</th>
                                    <td th:text="${member.birth}"/>
                                </tr>
                                <tr>
                                    <th>성별</th>
                                    <td th:text="${member.gender} == 'F' ? '여성' : '남성'"/>
                                </tr>
                                <tr>
                                    <th>직급 및 직책</th>
                                    <td th:text="${member.grade}"/>
                                </tr>
                                <tr>
                                    <th>활동 지역</th>
                                    <td th:text="${member.workingArea}"/>
                                </tr>
                                <tr>
                                    <th>가입일</th>
                                    <td th:text="${member.joinDt}"/>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">연락처</h6>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>가입 계정</th>
                                    <td th:text="${session.user.email}"/>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td th:text="${member.email}"/>
                                </tr>
                                <tr>
                                    <th>휴대폰 번호</th>
                                    <td th:text="${member.mobile}"/>
                                </tr>
                                <tr>
                                    <th>팩스 번호</th>
                                    <td th:text="${member.fax}"/>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">소속 회사</h6>
                            <div class="dropdown no-arrow"
                                 th:if="${session.user.role == T(com.bizns.bizneyland.domain.user.Role).OWNER}">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink2">
                                    <div class="dropdown-header">회사 정보 관리</div>
                                    <a class="dropdown-item"
                                       th:href="@{/company/update/{id}(id=${member.company.id})}">정보 수정</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#">회사 탈퇴</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr th:if="${session.user.role == T(com.bizns.bizneyland.domain.user.Role).OWNER}">
                                    <th>회사번호</th>
                                    <td th:text="${member.company.id}" />
                                </tr>
                                <tr>
                                    <th>회사명</th>
                                    <td th:text="${member.company.name}" />
                                </tr>
                                <tr th:if="${session.user.role != T(com.bizns.bizneyland.domain.user.Role).OWNER}">
                                    <th>대표자</th>
                                    <td th:text="${member.company.ownerName}"/>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td th:text="${member.company.address}"/>
                                </tr>
                                <tr>
                                    <th>전화번호</th>
                                    <td th:text="${member.company.tel}"/>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <form id="deleteForm" action="/member/delete" method="post">
                <input type="hidden" name="id" th:value="${session.user.memberSeq}">
            </form>
        </div>
        <script>
            /** 탈퇴 의사 확인 */
            const deleteMember = function () {
                if (confirm('정말 탈퇴하시겠습니까?'))
                    $('#deleteForm').submit();
            };
        </script>
    </div>
</html>