<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">고객(업체) 정보 수정</h6>
                </div>
                <div class="card-body">
                    <form action="/client/update" method="post" th:object="${client}">
                        <input type="hidden" th:field="*{clientSeq}">
                        <div class="form-group row">
                            <div class="col">
                                <label th:for="name">회사명 <span class="text-danger align-middle">*</span></label>
                                <input type="text" class="form-control" th:field="*{companyName}" maxlength="200" required>
                            </div>
                            <div class="col">
                                <label th:for="tel">전화번호 <span class="text-danger align-middle">*</span></label>
                                <input type="text" class="form-control" th:field="*{contact}" readonly>
                                <small id="telHelp" class="text-danger form-text text-muted" th:errors="*{contact}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label th:for="owner">대표자 이름</label>
                                <input type="text" class="form-control" th:field="*{owner}">
                            </div>
                            <div class="col">
                                <label th:for="address">주소 </label>
                                <input type="text" class="form-control" th:field="*{address}" maxlength="200">
                                <small id="addressHelp" class="text-danger form-text text-muted" th:errors="*{address}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label th:for="type">업체 구분</label>
                                <select class="form-control" th:field="*{type}">
                                    <option value="">선택하세요</option>
                                    <option value="P">개인</option>
                                    <option value="C">법인</option>
                                </select>
                            </div>
                            <div class="col">
                                <label th:for="establishDate">설립일</label>
                                <input class="form-control" th:field="*{establishDate}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label th:for="sector">업종</label>
                                <input class="form-control" th:field="*{sector}">
                            </div>
                            <div class="col">
                                <label th:for="keyItem">주요 품목</label>
                                <input class="form-control" th:field="*{keyItem}">
                            </div>
                        </div>

                        <!-- 매출 정보 -->
                        <h4 class="mt-4">매출 정보</h4>
                        <table class="table" id="salesTable">
                            <colgroup>
                                <col>
                                <col>
                                <col width="100px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>발생 연도</th>
                                <th>금액</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input class="form-control" name="salesYears" maxlength="4" placeholder="숫자 4자리로 입력하세요.(ex.2021)">
                                </td>
                                <td>
                                    <input class="form-control" name="salesAmount">
                                </td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="button" id="addSalesBtn" class="mb-4 btn btn-secondary">추가</button>

                        <button type="submit" class="mt-5 mb-2 btn btn-primary btn-block">저장</button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $('#addSalesBtn').on('click', function () {
                const addElement =
                    '<tr>' +
                        '<td><input class="form-control" name="salesYears" maxlength="4" required></td>' +
                        '<td><input class="form-control" name="salesAmount" required></td>' +
                        '<td class="text-center">' +
                            '<button type="button" class="btn btn-secondary" onclick="removeRow(this)">삭제</button>' +
                        '</td>' +
                    '</tr>';

                $("#salesTable>tbody").append(addElement);
            });

            /** 삭제 버튼 클릭 시 행 삭제 */
            const removeRow = function (element) {
                $(element).parents("tr").remove();
            };
        </script>
    </div>
</html>