<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

    <!-- Sidebar -->
    <ul th:fragment="sideFragment" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-pen-fancy"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Biz & System</div>
        </a>

        <!--
        &lt;!&ndash; Divider &ndash;&gt;
        <hr class="sidebar-divider my-0">

        &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        -->

        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="/member/mypage">
                <i class="fas fa-fw fa-address-card"></i>
                <span>마이 프로필</span>
            </a>
        </li>

        <hr class="sidebar-divider">
        <!-- 섭외 관련 메뉴 -->
        <div class="sidebar-heading">
            고객 섭외
        </div>

        <li class="nav-item">
            <a class="nav-link" href="/client/findBeforeRegister">
                <i class="fas fa-fw fa-pen"></i>
                <span>섭외 등록</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tm/list">
                <i class="fas fa-fw fa-headset"></i>
                <span>섭외 정보</span>
            </a>
        </li>

        <!-- 회사 대표자 메뉴 -->
        <div th:if="${session.user.role.key == 'ROLE_OWNER'}">
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                OWNER
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/client/list">
                    <i class="far fa-fw fa-address-book"></i>
                    <span>고객 정보</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/member/list">
                    <i class="fas fa-fw fa-users"></i>
                    <span>소속 회원 정보</span>
                </a>
            </li>
        </div>

        <!-- 시스템 관리자 메뉴(가입 회사/회원 관리) -->
        <div th:if="${session.user.role.key == 'ROLE_ADMIN'}">

            <hr class="sidebar-divider">

            <!-- TM 상담 관련 메뉴 -->
            <div class="sidebar-heading">
                ADMIN
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/company/list">
                    <i class="fas fa-fw fa-building"></i>
                    <span>회사 관리</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/member/list">
                    <i class="fas fa-fw fa-users"></i>
                    <span>회원 관리</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/list">
                    <i class="far fa-fw fa-address-book"></i>
                    <span>고객 관리</span>
                </a>
            </li>
        </div>

        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
</html>