<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

    <div layout:fragment="content">
        <div class="container">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">대출 현황 등록</h6>
                </div>
                <div class="card-body">
                    <form action="register" method="post">
                        <input type="hidden" name="clientSeq" value="19">
                        <input type="hidden" name="userSeq" th:value="${session.user.userSeq}">
                        <table class="table" id="loanInfoTable">
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col width="100px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>해당 기관명</th>
                                    <th>용도</th>
                                    <th>금액</th>
                                    <th>메모 및 특이사항</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-control" name="loan.creditors">
                                    </td>
                                    <td>
                                        <input class="form-control" name="loan.purposes" value="">
                                    </td>
                                    <td>
                                        <input class="form-control" name="loan.amounts">
                                    </td>
                                    <td>
                                        <input class="form-control" name="loan.memos" value="">
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" id="addLoanInfoBtn" class="mb-4 btn btn-secondary">추가</button>

                        <button type="submit" class="mt-4 btn btn-primary btn-block">저장</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script>

            /** 대출 정보 추가 버튼 */
            $('#addLoanInfoBtn').on('click', function () {
                const addElement =
                    '<tr>' +
                        '<td><input class="form-control" name="creditor" required></td>' +
                        '<td><input class="form-control" name="purpose" value=""></td>' +
                        '<td><input class="form-control" type="number" name="amount" required></td>' +
                        '<td><input class="form-control" name="memo" value=""></td>' +
                        '<td><button type="button" class="btn btn-secondary" onclick="removeRow(this)">삭제</button></td>' +
                    '</tr>';

                $("#loanInfoTable>tbody").append(addElement);
            });

            /** 삭제 버튼 클릭 시 행 삭제 */
            const removeRow = function (element) {
                $(element).parents("tr").remove();
            };
        </script>
    </div>
</html>