<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Register Company</title>

        <link
                href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
                rel="stylesheet">
        <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    </head>

    <body class="bg-gradient-primary">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">회사 정보 등록</h1>
                        </div>

                        <form class="user" name="companyForm" method="post" action="/join/company" th:object="${companyRequestDto}">
                        <!-- Sample.
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        -->
                            <!-- 회사 정보 -->
                            <div class="form-group">
                                <label th:for="businessNo">사업자 번호
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" th:field="*{businessNo}"
                                       placeholder="" maxlength="12" aria-describedby="businessNoHelp" required>
                                <small id="businessNoHelp" class="form-text text-muted" th:errors="*{businessNo}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="name">회사명
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" th:field="*{name}"
                                       placeholder="" value="비지니어스" aria-describedby="nameHelp" required>
                                <small id="nameHelp" class="form-text text-muted" th:errors="*{name}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="address">주소
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" th:field="*{address}"
                                       placeholder="" required>
                                <small id="addressHelp" class="form-text text-muted" th:errors="*{address}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="tel">전화번호
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" th:field="*{tel}"
                                       placeholder="" required>
                                <small id="telHelp" class="form-text text-muted" th:errors="*{tel}"/>
                            </div>

                            <!-- TODO : 파일 처리 추후 진행
                            <div class="form-group">
                                <label for="logoFileSeq">회사 로고</label>
                                <div class="custom-file mb-3">
                                    <input type="file" class="custom-file-input" id="logoFileSeq" name="logoFileSeq">
                                    <label class="custom-file-label" for="logoFileSeq">Choose file...</label>
                                </div>
                            </div>-->

                            <div class="mb-4"></div>

                            <button type="submit" class="btn btn-primary btn-user btn-block">등록</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(function () {

                    /** 사업자 번호 하이픈(-) 표시 이벤트 */
                    $('#businessNo').keydown(function (event) {
                        const key = event.charCode || event.keyCode || 0;
                        const $text = $(this);
                        if (key !== 8 && key !== 9) {
                            if ($text.val().length === 3) {
                                $text.val($text.val() + '-');
                            }
                            if ($text.val().length === 6) {
                                $text.val($text.val() + '-');
                            }
                        }

                        // Key 8번 백스페이스, Key 9번 탭, Key 46번 Delete 부터 0 ~ 9까지, Key 96 ~ 105까지 넘버패트
                        // 한마디로 JQuery 0 ~~~ 9 숫자 백스페이스, 탭, Delete 키 넘버패드외에는 입력못함
                        return (key == 8 || key == 9 || key == 46 || (key >= 48 && key <= 57) || (key >= 96 && key <= 105));
                    })
                });
            });

            // TODO : 비동기로 중복되는 사업자 번호 존재하는지 검색해야 함
        </script>
    </body>
</html>