<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bizneyland</title>

    <link   href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow mt-5 mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">비즈니랜드에 오신 것을 환영합니다 :)</h6>
            </div>
            <div class="card-body">
                <a th:if="${user == null}" href="/oauth2/authorization/google" class="btn btn-danger">
                    <span class="text">구글 로그인</span>
                </a>
                <div th:if="${user != null}">
                    <p><code th:text="${user.name}"></code>님 반갑습니다!</p>
                    <a th:if="${user != null}" href="/logout" class="btn btn-secondary">
                        <span class="text">로그아웃</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
